*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
header{
    display: block;
}
.header-top{
    display: flex;
    padding: 0 100px 0 100px;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #1e4b17;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.top-left .text-top{
    color: #8ca43c;
}
.top-right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon-right{
    font-size: 50px;
}
.top-right-text{
    text-align: end;
}
.top-right-text h2{
    font-size: 20px;
    font-weight: 50;
}
.top-right-text p{
    font-size: 25px;
    font-weight: bold;
    
}
.header-center{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 150px;
    background: #33822e;
    padding: 0 100px 0 100px;
    align-items: center;

}
.logo{
    display: flex;
    gap: 10px;
    color:#8ca43c;
}
.logo-text h2{
    text-decoration: underline;
}
.logo-text p{
    font-size: 30px;
}
.logo-image img{
    width: 70px;
    height: 120px;
}
.search{
    display: flex;
    margin-left: 300px;
    
}
.search-bar input{
    width: 1100px;
    height: 80px;
    font-size: 30px;
    padding: 20px;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.search-btn button{
    width: 80px;
    height: 80px;
    border-left: none;
    border-radius: 0 4px 4px 0;
    font-size: 30px;
    background: #8ca43c;
}

.menu-top{
    display: flex;
    gap: 35px;
   font-size: 30px;
   margin-left: 150px;
   align-items: center;
}
.menu-top-item a{
   flex-direction: column;
   align-items: center;
   display: flex;
   text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}
.menu-top-item{
    position: relative;
}
.badge{
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    font-size: 25px;
    border-radius: 80%;
    font-weight: bold;
    color: #fff;
    display: grid;
    place-items: center;
    top: 0;
    right: 15px;

}
.header-bottom{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100px;
    padding: 0 100px 0 100px;
    background: #2b6522;
    align-items: center;
}
.menu-left .dropdown select{
    width: 550px;
    height: 80px;
    font-size: 30px;
    padding-left: 30px;
    color: #fff;
    font-weight: bold;
    background: #1e4b17;
    outline: 2px solid #fff;
    outline-offset: -10px;
}
.menu-center{
    display: flex;
    margin-left: 100px;
    gap: 100px
}
.menu-item a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}
.dropdown-item select{
    border: none;
    font-size: 40px;
    background: #2b6522;
    color: #fff;
}
.menu-right{
    margin-left: 250px;
}
.hotdeal-section{
    position: relative;
}
.hotdeal-section button{
    width: 200px;
    height: 70px;
    font-size: 28px;
    border-radius: 40px;
    padding-left: 43px;
    color: #1e4b17;
    background: #8ca43c;
}
.hotdeal-badge{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 80%;
    background: red;
    display: grid;
    place-items: center;
    top: 0;
}
.main-image {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.main-image img{
    width: 100%;
    height: auto;
}
.slide{
    width: 100%;
   display: none;
}
.slide.active{
    display: block;
}
.category a{
    color: #fff;
   text-decoration: none;
    
}
.category ul{
    display: none;
}